.find {
  display: flex;
  flex-direction: column;
}

.input_box {
  margin-top: 5px;
  display: flex;
  justify-content: center;
}

.input_box textarea {
  resize: none;
  font-size: 16px;

  box-sizing: border-box;
  border-radius: 10px;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.input_box textarea:focus {
  border: 3px solid #555;
}

.input_box button {
    height: 22px;
    width: 70%;
    text-align: center;
    padding: 0;
    font-size: 14px;
}
