@font-face {
  font-family: Comfortaa;
  src: url(./Fonts/Comfortaa-VariableFont_wght.ttf);
}

.app {
  background-color: rgba(248, 249, 251, 1);
  -webkit-background-size: 100%;
  background-size: 100%;
}

.app-wrapper {
  font-family: Comfortaa;
  margin: 0 auto;
  margin-top: 5px;
  display: grid;
  max-width: 1300px;

  grid-template-areas:
    /* "h h" */
    "n c";
  /* grid-template-rows: 80px 1fr; */
  grid-template-columns: 1fr 5fr;
  
  grid-gap: 10px;
}

.app-wrapper-content {
  min-height: calc(100vh - 80px);
  margin-bottom: 10px;
  grid-area: c;
}

.round {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

.background-color {
  border: 1px solid rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 0 5px #e6e6e6;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: red;
}

a:active {
  color: gold;
}
